<div class="dropdown">
    <button class="" id="drop_down_btn" type="button">Select an option</button>
    <span class="downarrow"><i class="fa-sharp fa-solid fa-angle-down"></i></span>
    <div class="dropdown_menu">
        <ul>
            <li class="dropdon_item">Option 1</li>
            <li class="dropdon_item">Option 2</li>
            <li class="dropdon_item">Option 3</li>
            <li class="dropdon_item">Option 4</li>
            <li class="dropdon_item">Option 5</li>
            <li class="dropdon_item">Option 6</li>
            <li class="dropdon_item">Option 7</li>
            <li class="dropdon_item">Option 8</li>
        </ul>
    </div>
</div>