<div class="dropdown">
    <button class="" id="dropdown_btn" type="button" (click)="dropdownOpen()">
        {{selectedOption||'Select an option'}}</button>
    <div id="arrow" class="downarrow fa fa-angle-down"></div>
    <div class="dropdown_menu" aria-labelledby="dropdownMenuButton" *ngIf="dropdownContent">
        <ul>
            <li class="dropdown-list" *ngFor="let option of options">
                <a class="dropdown-item" href="#" (click)="onOptionSelected(option)">{{option}}</a>
            </li>
        </ul>
    </div>
    <!-- Updating UI and simulataneously updates the Model -->
    <!-- <div class="dropdown-list">
        <input class="dropdown-item dd_input" type="text" [(ngModel)]="selectedOption">
        <button id="download" (click)="onOptionSelected(selectedOption)">Save</button>
    </div> -->

</div>