.dropdown button{
    width: 20rem;
    height: 2rem;
    text-align: left;
    background-color: white;
    border: 1px solid gray;
    border-radius: 0.5rem;

}
.downarrow i{
    margin-left: -1rem;
    width: 2rem;
    height: 2rem;
    color: black;
}

.dropdown_menu{
   
}
.dropdown_menu ul{
    border: 1px solid gray;
    width: 20rem;
    margin: 0;
    padding: 5px;
    margin-top: 1rem;
    border-radius: 0.5rem;
    height: 14rem;
    overflow-y: auto;
}
::-webkit-scrollbar{
    width: 0.5rem;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb{
    background-color: #888;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #555;
}
.dropdown_menu ul li{
    list-style: none;
    height: 2rem;
}
.dropdown-item{
    text-decoration:none;
    color: black;
}
.dropdown-item:hover{
    background-color: #8888887e;
}